*{
	margin: 0;
	padding: 0;
}

body{
   -webkit-touch-callout: none;
   -moz-user-select: none; /*火狐*/
   -webkit-user-select: none;  /*webkit浏览器*/
   -ms-user-select: none;   /*IE10*/
   -khtml-user-select: none; /*早期浏览器*/
   user-select: none;
}

#img {
	width: 100%;
}

#img2 {
	width: 20px;
	display: inline-block;
	margin-top: -0.1rem;
	vertical-align:middle;
	margin-left: 0.9rem;
	margin-right: 0.7rem;
}

hr {
	height:1px;
	border:none;
	border-top: 0.1px solid rgb(230, 230, 230);
	margin-left: 1rem;
	width: 98%;
}

.fk {
    line-height: 3.2rem;
    display: inline-block;
}